@model IEnumerable<ADO_CRUD.Models.ProductModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="box-search">

    <div class="input-group input-group-lg">
        <input type="text" onkeyup="search(this)" class="form-control" placeholder="SEARCH" aria-describedby="sizing-addon1">
    </div>

    <div id="result-search">
        <ul id="element-each">
        </ul>
    </div>

</div>

<p>
    @Html.ActionLink("Create New", "SaveProduct")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Category
        </th>
        <th>
            Created
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img width="100" height="50" src="@item.URL_IMG" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id = item.ID }) |
                @Html.ActionLink("Details", "DetailsProduct", new { id = item.ID }) |
                <button class="btn-delete btn btn-danger" data-id="@item.ID" > DELETE </button>
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/services")
    @Scripts.Render("~/bundles/product-index-core")
}